<!DOCTYPE html>
<html>
  <head>
    <title>BlueAsana Clone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
  </head>

  <body>
    <script type="text/javascript">
      window.splashVideo = "../videos/asana_splash_video_large.mp4"
      window.asanaLogoWhite = "<%= image_url('asana_reskin_logo.png') %>"
      window.asanaLogoSplash = "<%= image_url('asana_logo_splash.png') %>"
      window.asanaLogoHome = "<%= image_url('asana_home_logo.png') %>"
    </script>
    <%= yield %>
  </body>
</html>
